@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.btn {
	display:flex;
	justify-content: center
	}

.wel-title {
    color: black;
    

}



.wel-button {
  display: inline-block;
  margin-top: 10px;
  margin-left: 60px;
  background-color: white;
  border-radius: 2em;
  
}